#  SPDX-License-Identifier: LGPL-2.1+
#
# iiod - Systemd init script
#
# Copyright (C) 2021 Analog Devices Inc.

[Unit]
Description=Hardware activated USB gadget
