[Unit]
Description=Analog Devices power up/down sequence

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=/usr/bin/python3 /usr/share/systemd/adi_power.py up
ExecStop=/usr/bin/python3 /usr/share/systemd/adi_power.py down

[Install]
WantedBy=multi-user.target
